[Unit]
Description=Caddy

[Service]
User=kill-the-newsletter
Group=kill-the-newsletter
WorkingDirectory=/home/kill-the-newsletter/www.kill-the-newsletter.com
ExecStart=/home/linuxbrew/.linuxbrew/bin/caddy -agree -email=kill-the-newsletter@leafac.com
Restart=always
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
