[Unit]
Description=Caddy

[Service]
ExecStart=/root/bin/caddy/caddy -agree true -email kill-the-newsletter@leafac.com -conf Caddyfile.production
WorkingDirectory=/root/kill-the-newsletter
LimitNOFILE=8192
Restart=always
RestartSec=120
StartLimitInterval=5
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
