localhost:8000 {
  on startup go run kill-the-newsletter.go &
  rewrite {
    if {path} is /
    to /proxy{uri}
  }
  rewrite / /public{path} /proxy{uri}
  proxy /proxy localhost:8080 {
    without /proxy
  }
}
