[Unit]
Description=Exim

[Service]
User=root
Group=root
ExecStart=/home/linuxbrew/.linuxbrew/bin/exim -bdf -q30m
Restart=always

[Install]
WantedBy=multi-user.target
