[Unit]
Description=Server

[Service]
User=kill-the-newsletter
Group=kill-the-newsletter
WorkingDirectory=/home/kill-the-newsletter/www.kill-the-newsletter.com
ExecStart=/home/kill-the-newsletter/.rbenv/shims/bundle exec ruby server.rb -o localhost -e production
Restart=always

[Install]
WantedBy=multi-user.target
