@font-face {
  font-family: "Charter";
  font-weight: normal;
  font-style: normal;
  src: url("charter_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: normal;
  font-style: italic;
  src: url("charter_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: bold;
  font-style: normal;
  src: url("charter_bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: bold;
  font-style: italic;
  src: url("charter_bold_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: normal;
  font-style: normal;
  src: url("iosevka-term-slab-regular.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: normal;
  font-style: italic;
  src: url("iosevka-term-slab-italic.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: bold;
  font-style: normal;
  src: url("iosevka-term-slab-bold.woff") format("woff");
}

@font-face {
  font-family: "Iosevka Term Slab";
  font-weight: bold;
  font-style: italic;
  src: url("iosevka-term-slab-bolditalic.woff") format("woff");
}

body {
  font-family: "Charter", "Georgia", serif;
  line-height: 1.5;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

a { color: black; }

h1 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 2rem;
}

h1 a { text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
}

input, button, button:active, .button {
  color: black;
  background-color: transparent;
  font-family: "Iosevka Term Slab", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.25rem;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
}

button, button:active, .button {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

footer { font-size: 0.875rem; }
