<host-without-www> {
  redir https://www.<host-without-www>{uri}
}

www.<host-without-www> {
  root public

  rewrite {
    if {path} is /
    to /proxy/{uri}
  }

  rewrite {
    to {path} /proxy/{uri}
  }

  proxy /proxy localhost:3000 {
    without /proxy
    transparent
  }

  git github.com/leafac/kill-the-newsletter <absolute-path-to-kill-the-newsletter> {
    hook /deploy <github-deployment-hook-secret>
    then env RAILS_ENV=production <absolute-path-to-kill-the-newsletter>/bin/rails assets:precompile
  }
}
