body {
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 0 1em;
  margin: 2em 0;
}

a {
  color: black;
  text-decoration: none;
}

code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

h1 {
  font-size: 1.5em;
}

footer {
  font-size: 0.857em;
}

input {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0.25em;
}
