@import "node_modules/typeface-pt-sans/index.css";
@import "node_modules/typeface-pt-mono/index.css";

body {
  font: 16px/1.5 "PT Sans", sans-serif;
  text-align: center;
  padding: 0 1em;
  margin: 2em 0;
}

a {
  color: black;
  text-decoration: none;
}

code {
  font-family: "PT Mono", monospace;
}

h1 {
  font-size: 1.5em;
}

footer {
  font-size: 0.875em;
}

input {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0.25em;
}
