@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: font-url("charter_regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: font-url("charter_italic-webfont.woff") format("woff");
}

html {
  height: 100%;
  display: flex;
  align-items: center;
}

body, input, h1, h2 {
  font-family: "Charter", "Iowan Old Style", "Georgia", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  padding: 10px;
}

main {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: black;
}

h1, h2 {
  font-style: italic;
}

h1 {
  font-size: 25px;
}

h1 a {
  text-decoration: none;
}

.error, .error a {
  color: red;
}

input {
  outline: none;
  border: none;
}

input[type="text"] {
  border-bottom: 1px solid;
  width: 350px;
}

input[type="submit"], .button {
  background-color: white;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
}

footer {
  font-style: italic;
  font-size: 14px;
}
