[Unit]
Description=Kill the Newsletter!
After=network.target

[Service]
WorkingDirectory=/mnt/kill-the-newsletter/kill-the-newsletter/
ExecStart=/mnt/kill-the-newsletter/kill-the-newsletter/kill-the-newsletter/kill-the-newsletter /mnt/kill-the-newsletter/kill-the-newsletter/configuration.mjs
User=root
Restart=always

[Install]
WantedBy=multi-user.target
