[Unit]
Description=Kill the Newsletter!
After=network.target

[Service]
WorkingDirectory=/root/kill-the-newsletter/
ExecStart=/root/kill-the-newsletter/kill-the-newsletter/kill-the-newsletter /root/kill-the-newsletter/configuration.mjs
User=root
Restart=always

[Install]
WantedBy=multi-user.target
